.wrapper {
  display: grid;
  grid-template-columns: 19.5% 80.5%;
  height: 100vh;
}

.aside {
  background: #f3f4f6;
  height: 100%;
  font-size: 16px;
}

.main {
  background: white;
  height: 100%;
  border-left: 1px solid #dbdbdd;
}

.share-create {
  width: 15%;
}

.home {
  border-bottom: 1px solid #dbdbdd;
}

.section {
  font-size: 15px;
}

.projects-top-bar {
  display: grid;
  grid-template-columns: 60% 14% 26%;
  background: #f3f4f6;
}

.img {
  width: 30px;
  border-radius: 50%;
}

.img2 {
  width: 25px;
  border-radius: 20px;
}

.icon {
  padding: 10px;
  padding-right: 0;
  color: gray;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  border-width: 1px;
  border: 1px solid gray;
}

.link {
  color: black;
  text-decoration: none;
}

.share {
  padding: 0.5rem 1.25rem;
  background: white;
  border: 1px solid #dbdbdd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.create {
  padding: 0.5rem 1.25rem;
  background: white;
  border: 1px solid #dbdbdd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #9532ed;
  color: white;
}

.cards>div {
  width: 23%;
  height: 57px;
}

.btop {
  border-top: 1px solid #dbdbdd;
}

.bbottom {
  border-bottom: 1px solid #dbdbdd;
}

a:hover {
  background-color: #e6e7eb;
}

li.color-blue::marker {
  font-size: 30px;  
}

li.color-green::marker {
  font-size: 30px;
}

li.color-orange::marker {
  font-size: 30px;
}

.item {
  height: 38.2px;
  background: white;
  border-bottom: 1px solid #dbdbdd;
  align-items: center;
  
}